<img
	id="sadFaceImg"
	src="https://previews.123rf.com/images/jamesstar/jamesstar1404/jamesstar140400293/27416962-sad-face.jpg"
	alt="sad face"
/>
<h1>500</h1>
<h2>Server Internal Error</h2>
<p>{{error.message}}</p>